*{padding: 0; margin: 0; box-sizing: border-box;}

.header {
    width: 80%;
    height: 170px;
    background: white;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header .header__first-part {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #367BF5;
}

.header__first-part .header__logo-part {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header__logo-button {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: #d1d1d1c9;
    box-shadow: 0px 2px 6px #08233029 inset;
    border: none;
    border-radius: 5px;
}

.header__title-text {
    text-decoration: none;
    color: #000;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 112.99999999999999%;
    letter-spacing: -2%;
    vertical-align: middle;
}

.header__web-logos {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__web-logos .header__web-logo {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header .header__second-part {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__menu-burger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header__menu-burger .menu__burger--list {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #272727e4;
}

.header__second-part .header__menu-list {
    display: flex;
    gap: 35px;
}

.header__menu-list .header__menu-item {
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
}

.header__menu-list .header__menu-item:first-child {
    width: 168px;
    height: 40px;
    box-shadow: 0px 2px 6px #08233029;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.header__menu-item a {
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.44px;
    text-align: center;
    vertical-align: middle;
}

.header__account-btn {
    width: 189px;
    height: 40px;
    border: 1px solid #367BF5;
    border-radius: 6px;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.75px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #367BF5;
    text-shadow: 0px 4px 8px #367BF529;
    cursor: pointer;
}

.section--first {
    width: 100%;
    min-height: 150vh;
    background: url('../img/second-fon-picture.jpg') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section--first .section--title {
    position: absolute;
    top: 80px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 106%;
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(90deg, #80688E 0%, #4F586A 100%);
    background-clip: text;
    color: transparent;
}

.section--first .section--text {
    position: absolute;
    top: 150px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;
}

.section--first .section__buttons {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 240px;
}

.section__buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.75px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.section__buttons .section__button--download {
    width: 176px;
    height: 48px;
    background: #367BF5;
    color: #FFFF;
}

.section__buttons .section__button--trial {
    width: 168px;
    height: 48px;
    background: transparent;
    border: 1px solid #367BF5;
    color: #367BF5;
}

.footer--features {
    width: 80%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 25px;
}

.footer--features .footer__title {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2%;
    vertical-align: middle;
    background: linear-gradient(90deg, #80688E 0%, #4F586A 100%);
    background-clip: text;
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.footer--features .footer__text-img-cards {
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer__text-img-cards .footer__text-img-card {
    display: flex;
    width: 100%;
    min-height: 320px;
    gap: 100px;
}

.footer__text-img-card .footer__text-part {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 105px;
    position: relative;
}

.footer__text-part .feature__hobbie-img {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 40px;
    left: 0;
}

.footer__text-part .footer__text__title {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: -1%;
    vertical-align: middle;
    color: #000000DE;
}

.footer__text-part .footer__text {
    min-width: 28rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-top: 10px;
}

.footer__text-part .footer__learn-btn {
    width: 156px;
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    vertical-align: middle;
    color: #367BF5;
    border: none;
    background: none;
    cursor: pointer;
}

.footer__learn-btn .arrow__btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5EFFF;
    border-radius: 2px;
}

.footer__text-img-card .footer__img-part {
    width: 40%;
    min-width: 28rem;
    min-height: 320px;
    border: 16px solid #F7F9FA;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__img-part .footer__feature-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.footer__text-img-card .footer__img-part1::before {
    content: '';
    position: absolute;
    width: 144px;
    height: 144px;
    left: -50px;
    top: 50px;
    background: url(../img/first-feature-bio.png) center center / contain no-repeat;
}

.footer__text-img-card .footer__img-part2::before {
    content: '';
    position: absolute;
    width: 214px;
    height: 191px;
    right: -50px;
    bottom: 0;
    background: url(../img/second-feature-bio.png) center center / contain no-repeat;
}

.footer__text-img-card .footer__img-part3::before {
    content: '';
    position: absolute;
    width: 132px;
    height: 134px;
    left: 50px;
    bottom: -50px;
    background: url(../img/third-feature-bio.png) center center / contain no-repeat;
}

.section--coolapping {
    width: 90%;
    height: 100px;
    margin: 160px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section-shop-icon {
    position: relative;
}

.section-shop-icon::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 70px;
    background: url("../img/shopping-bag-floor.png") center center / contain no-repeat;
    z-index: -1;
}

.section--coolapping .section__text-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    left: 100px;
}

.section__text-part .section__shop-title {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 112.99999999999999%;
    letter-spacing: -1%;
    vertical-align: middle;
}

.section__shop-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    vertical-align: middle;
}

.section__shop-link {
    color: rgba(255, 46, 46, 0.875);
    text-decoration: none;
}

.section__shop-btn {
    width: 270px;
    height: 64px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: #367BF5;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 6px 12px #367BF529;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.footer--discover {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 220px auto;
}

.footer--discover .footer__title {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    vertical-align: middle;
    background: linear-gradient(90deg, #80688E 0%, #4F586A 100%);
    background-clip: text;
    color: transparent;
}

.footer--discover .footer__text {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;
    vertical-align: middle;
    color: #367BF5;
    margin-top: 25px;
}

.footer__thinks-items {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 90px;
}

.footer__thinks-items .think-item {
    width: 350px;
    padding: 20px 20px 20px 80px;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.footer__thinks-items .think-item:nth-child(3) {
    background: #E5EFFF;
}

.footer__thinks-items .think-item:nth-child(4) {
    box-shadow: 0px 2px 4px #367BF53D;
}

.think-item .think__title {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    vertical-align: middle;
}

.think-item .think__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
}

.think-item .think__img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer--materials {
    width: 90%;
    margin: 120px auto;
    display: flex;
    gap: 10px;
}

.footer--materials .footer__material-item {
    width: 50%;
    min-height: 350px;
    padding-left: 185px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer__material-item1::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 40px;
    width: 200px;
    height: 200px;
    background: url('../img/material1-img.png') no-repeat;
}

.footer__material-item2::before {
    content: '';
    position: absolute;
    left: 25px;
    top: 40px;
    width: 200px;
    height: 200px;
    background: url('../img/material2-img.png') no-repeat;
}

.footer__material-item .material__title--colored {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    vertical-align: middle;
}

.footer__material-item1 .material__title--colored {
    background: linear-gradient(90deg, #57CBAF 0%, #2FA84F 100%);
    background-clip: text;
    color: transparent;
}

.footer__material-item2 .material__title--colored {
    background: linear-gradient(90deg, #9BAAFA 0%, #367BF5 100%);
    background-clip: text;
    color: transparent;
}

.material__title--bold {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -2%;
    vertical-align: middle;
    margin-top: 30px;
}

.material__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-top: 20px;
}

.material__btn {
    width: 196px;
    height: 56px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;
    color: #FFFF;
    margin-top: 40px;
    cursor: pointer;
}

.footer__material-item1 .material__btn {
    background: #2FA84F;
    box-shadow: 0px 2px 4px #2FA84F3D;
}

.footer__material-item2 .material__btn {
    background: #367BF5;
    box-shadow: 0px 2px 4px #367BF53D;
}

.about {
    width: 80%;
    margin: 210px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .about__title {
    display: flex;
    gap: 10px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 112.99999999999999%;
    letter-spacing: -2%;
    vertical-align: middle;
    cursor: pointer;
}

.about .about__title-button {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background: #d1d1d1c9;
    box-shadow: 0px 2px 6px #08233029 inset;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about .about__menu-list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}

.about .about__menu-item {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.about .about__menu-item:first-child::before {
    display: none;
}

.about .about__menu-item::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
    opacity: .5;
}

.about__menu-item .menu-item--link {
    text-decoration: none;
    color: #000;
}

.about .about__subscribe {
    width: 35rem;
    height: 60px;
    position: relative;
    background: #FFFF;
    box-shadow: 0px 8px 16px #0823301A;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 50px;
}

.about__subscribe::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/about-message-icon.png') center center / contain no-repeat;
    cursor: pointer;
}

.about__subscribe .about__input {
    position: absolute;
    border: none;
    outline: none;
    left: 45px;
    width: 50%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    vertical-align: middle;
    color: #919699;
}

.about__subscribe .about__btn {
    width: 172px;
    height: 44px;
    position: absolute;
    right: 10px;
    border: none;
    border-radius: 4px;
    background: #C6CACC;
    color: #FFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.about .about__socials {
    display: flex;
    gap: 20px;
    margin-top: 70px;
}

.about__socials .about__social {
    border: none;
    background: transparent;
    cursor: pointer;
}

.about .about__text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    color: #1c1c1cbb;
    margin-top: 40px;
}

.about .about__text--bold {
    color: #000;
    cursor: pointer;
}

@media (min-width: 2500px) {
    .header {
        width: 60%;
    }

    .section--first {
        width: 70%;
        min-height: 100vh;
        margin: 0 auto;
    }

    .section--first .section--title {
        top: 100px;
    }

    .section--first .section--text {
        top: 200px;
    }

    .section--first .section__buttons {
        top: 300px;
    }

    .footer--features {
        width: 50%;
    }

    .section--coolapping {
        width: 60%;
    }

    .footer--materials {
        width: 70%;
        margin: 0 auto;
        justify-content: center;
    }

    .footer--materials .footer__material-item {
        max-width: 40rem;
    }
}
@media (max-width: 1024px) {

    .header__second-part .header__menu-list {
        display: none;
    }

    .header__menu-burger {
        display: flex;
    }

    .section--first {
        min-height: 100vh;
    }

    .footer--features {
        width: 100%;
        padding: 0 5px;
    }

    .footer__text-img-cards {
        width: 100%;
        justify-content: center;
    }

    .footer__text-img-cards .footer__text-img-card {
        flex-direction: column;
        gap: 50px;
    }

    .footer__text-img-cards .footer__text-img-card:nth-child(2) {
        flex-direction: column-reverse;
    }

    .footer__text-img-card .footer__text-part {
        width: 90%;
    }

    .footer__text-part .footer__text {
        width: 100%;
        min-width: 100%;
    }

        .footer__text-part .footer__text br{
            display: none;
        }

    .footer__text-img-card .footer__img-part {
        width: 100%;
        min-width: unset;
        min-height: unset;
    }
    
    .section--coolapping {
        height: auto;
        position: static;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .section--coolapping .section__text-part {
        position: static;
    }

    .section-shop-icon::before {
        bottom: 0;
        left: 0;
    }

    .section__shop-btn {
        position: static;
    }

    .footer__thinks-items {
        grid-template-columns: repeat(2,1fr);
    }

    .footer--materials {
        width: 90%;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }

    .footer--materials .footer__material-item {
        width: 75%;
    }

    .about .about__menu-list {
        width: auto;
        text-align: center;
    }

    .about .about__menu-item {
        font-size: 15px;
        flex-shrink: 0;
    }

    .about {
        width: 95%;
    }

    .about .about__subscribe {
        width: 80%;
    }
}

@media (max-width: 767px) {
    
    main{
        overflow: hidden;
    }

    .header {
        width: 100%;
        padding: 0 20px;
    }

    .header__first-part .header__logo-part {
        gap: 5px;
    }

    .header__title-text {
        font-size: 28px;
    }

    .header__web-logos {
        gap: 25px;
    }

    .header__second-part {
        padding: 0 20px;
    }

    .section--first .section--title {
        top: 30px;
        font-size: 35px;
    }

    .section--first .section--text {
        top: 80px;
    }
    
    .section__first .section__buttons {
        top: 100px;
    }

    .footer--features .footer__title {
        font-size: 40px;
        margin-left: 20px;
    }

    .footer__text-img-cards .footer__text-img-card {
        align-items: center;
    }

    .footer__text-img-card .footer__text-part {
        width: 70%;
    }

    .footer__text-img-card .footer__text-part {
        padding: 120px 0 0 0;
    }

    .footer--discover {
        width: 100%;
    }

    .footer--discover .footer__title {
        font-size: 40px;
    }

    .footer--discover .footer__text {
        font-size: 20px;
    }

    .footer__thinks-items {
        width: 100%;
        text-align: center;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer--materials {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .footer--materials .footer__material-item {
            width: 80%;
            padding-top: 150px;
            padding-left: 20px;
        }

    .footer__material-item1::before {
        left: 10px;
        top: 40px;
        width: 100px;
        height: 100px;
        background: url('../img/material1-img.png') center center / cover no-repeat;
    }

    .footer__material-item2::before {
        left: 10px;
        top: 40px;
        width: 100px;
        height: 100px;
        background: url('../img/material2-img.png') center center / cover no-repeat;
    }

    .about .about__subscribe {
        width: 100%;
    }

    .about .about__input {
        width: 90%;
    }

    .about__subscribe .about__btn {
        display: none;
    }
}